<?xml version="1.0"?>
<launch>
    <arg name="config" default="$(find roomba_bringup)/config/default.yaml"/>
    <arg name="csi_cam" default="false"/>
    <arg name="realsense" default="true"/>
    <arg name="robot_name" default="roomba1"/>

    <!-- roomba -->
    <group ns="$(arg robot_name)">
    <node pkg="create_driver" type="create_driver" name="ca_driver">
        <rosparam command="load" file="$(arg config)"/>
        <param name="robot_model" value="CREATE_2"/>
    </node>

    <!-- roomba description -->
    <include file="$(find roomba_description)/launch/display.launch">
        <arg name="rviz" value="false"/>
    </include>

    <!-- rplidar -->
    <node pkg="rplidar_ros" type="rplidarNode" name="rplidar">
        <param name="channel_type" value="serial"/>
        <param name="serial_port" value="/dev/rplidar"/>
        <param name="serial_baurate" value="115200"/>
        <param name="frame_id" value="laser"/>
    </node>

    <!-- csi camera -->
    <include file="$(find roomba_bringup)/launch/jetson_csi_cam.launch" if="$(arg csi_cam)">
    </include>
    
    <!-- realsense camera -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" if="$(arg realsense)">
        <arg name="align_depth" value="true"/>
    </include>
    </group>
</launch>
