<launch>
  <arg name="odom_topic" default="/odom" />
  <arg name="cmd_vel_topic" default="/planner/cmd_vel" />
  <arg name="scan_topic" default="/scan" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="scan" to="$(arg scan_topic)"/>    
    <remap from="odom" to="$(arg odom_topic)"/>    
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>    

    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/> -->

	<rosparam file="$(find navigation_tutorial)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation_tutorial)/params/local_costmap_params.yaml" command="load" />

	<rosparam file="$(find navigation_tutorial)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation_tutorial)/params/global_costmap_params.yaml" command="load" />

	<rosparam file="$(find navigation_tutorial)/params/move_base_params.yaml" command="load"/>

	<!-- <rosparam file="$(find navigation_tutorial)/params/dwa_local_planner_params.yaml" command="load" /> -->
	<rosparam file="$(find navigation_tutorial)/params/base_local_planner_params.yaml" command="load" />
	<rosparam file="$(find navigation_tutorial)/params/base_global_planner_params.yaml" command="load" />

	</node>

</launch>