<?xml version="1.0"?>
<launch>
    <!-- map server -->
    <include file="$(find navigation_tutorial)/launch/map_server.launch">
    </include>

    <!-- localization -->
    <include file="$(find navigation_tutorial)/launch/amcl.launch">
    </include>

    <!-- teleop -->
    <include file="$(find navigation_tutorial)/launch/move_base.launch">
    </include>

    <!-- teleop -->
    <include file="$(find roomba_teleop)/launch/teleop.launch">
    </include>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find navigation_tutorial)/configs/detection.rviz"/>

</launch>
